# IAR EWARM intermediate folders and files. by hwpark
settings
*.dep
Debug
Release
ewarm
zx*

# Etc.
SourceInsightProj
Bootloader
*.tmp


#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
